.App {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: #08171e;
}

.content {
    width: 500px;
    background: #0e2f3b;
    color: white;
    min-height: 300px;
    border-radius: 16px;
}

.table-wrapper, .table-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.table-item{
    background: #0a232c;
    width: 90%;
    border-radius: 16px;
}
.table-wrapper{
    margin-top:20px;
    width: 100%;
}
.table-item > div {
    width: 100%;
}

.table-item-time, .table-item-other {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
}

.table-item-assigned,.table-item-desc{
    display: flex;
    align-items: center;
    justify-content: center;
}


